body {

  font-family: "Lucida Console", Monaco, monospace !important;
  padding-top: 10px;
  padding-bottom: 150px;
}

.post h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.navbar-nav.nav-justified > li{
    float:none;
}