// Scaffolding
@body-bg:               #47443D;
@text-color:            #DEDBD1;

@link-color:            #F7F7A3;
@link-hover-color:      darken(@link-color, 25%);
@nav-link-hover-bg:     #847E6F;

@font-family-monospace: "Lucida Console", Monaco, Consolas, monospace;
@font-family-base:      @font-family-monospace;

@well-bg:               #3B342E;


// other things
body {
  //font-family: "Lucida Console", Monaco, monospace !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

// remove underscore from links
a {
  &:hover {
    text-decoration: none;
  }
}

// content block has some height in case it's tiny or empty
.container .row.content {
  min-height: 100px;
}

// makes navigation justified
.navbar-nav.nav-justified > li {
    float: none;
}

// style our posts
.post {
  h2 {
    margin-top: 0px;
    margin-bottom: 25px;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

