---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <meta name="description" 
          content="{{ site.description }}">

    <link href="/content/bootstrap-3.2.0-dist/css/bootstrap.min.css" 
          rel="stylesheet">
    <link href="/content/bootswatch/slate.min.css" 
          rel="stylesheet">
    <link href="/content/pygments/syntax.css" 
          rel="stylesheet">
    <link href="/content/self/self.css" 
          rel="stylesheet">

    <script src="/content/bootstrap-3.2.0-dist/css/bootstrap.min.css"
            type="text/javascript"></script>
  </head>

  <body>

    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <p class="text-center">The thoughts, dreams, rants, lessons, tips, tricks, stories, truths, and lies from one of no particular interest.</p>
        </div>
      </div>
      
      <div class="row content">
        {{ content }}
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <ul class="nav navbar-nav nav-justified" role="navigation">
            {% for link in site.navigation %}
            <li>
                <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>
